body {
  background-color: darkgrey !important;
}
.login-btn {
  border-radius: 15px;
  width: 25%;
}
.login-btn:hover {
  background: green;
  color: white;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: black !important;;
}
.title {
  margin-top: 30px;
  margin-bottom: 30px;
  vertical-align: middle;
  font-family: 'Nunito Sans';
  text-align: center;
  color:black;
  font-size: 46px;
}
.register-title
{
  color:#fff;
}
.center {
  line-height: auto;
  height: auto;
  text-align: center;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  color: #fff;
  border-bottom: 2px solid #eeeeee;
  border-radius: 10px;
}
a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0a6ebd;
  text-decoration: underline;
}

label {
  color: gray;
}
.full-width {
  width: 100%;
}
