<div class="row">
  <div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>
  <div class="col-lg-6 col-md-6 form-container">
    <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
      <div class="logo mb-3">
        <div class="title center">
          MyParking
        </div>
        <h4>Create an Account</h4>
      </div>
      <form novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
          <span><i class="material-icons">person</i></span>
          <input  [formControlName]="'fullname'" placeholder="Enter Full Name" type="text"/>
          <label class="error" *ngIf="formErrors.fullname">*{{formErrors.fullname}}</label>
        </div>
        <div class="form-input">
          <span><i class="material-icons">person</i></span>
          <input [formControlName]="'username'" placeholder="Enter Username" type="text"/>
          <label class="error" *ngIf="formErrors.username">*{{formErrors.username}}</label>
        </div>
        <div class="form-input">
          <span><i class="material-icons">phone</i></span>
          <input [formControlName]="'mobile'" placeholder="Enter Mobile" type="text" pattern="[0-9]*"/>
          <label class="error" *ngIf="formErrors.mobile">*{{formErrors.mobile}}</label>
        </div>
        <div class="form-input">
          <span><i class="material-icons">mail</i></span>
          <input [formControlName]="'email'" placeholder="Enter Email Address" type="email"/>
          <label class="error" *ngIf="formErrors.email">*{{formErrors.email}}</label>
        </div>
        <div class="form-input">
          <span><i class="material-icons">lock_open</i></span>
          <input [formControlName]="'password'" placeholder="Choose Password" type="password"/>
          <label class="error" *ngIf="formErrors.password">*{{formErrors.password}}</label>
        </div>
        <div class="form-input">
          <span><i class="material-icons">lock_open</i></span>
          <input [formControlName]="'confirmpassword'" placeholder="Confirm Password" type="password"/>
          <label class="error" *ngIf="formErrors.confirmpassword">*{{formErrors.confirmpassword}}</label>
        </div>
        <div class="text-center mb-3">
          <button [disabled]="registerForm.invalid" type="submit" class="btn btn-success">Register</button>
        </div>
        <div style="color:black;">
          <h6>Already Have an Account? <a href="/" class="forget-link">Login Now</a></h6>
        </div>
      </form>
    </div>
  </div>
</div>