<div class="container-fluid mt-5">
  <div class="row mb-5">
    <div class="col text-left mb-3">
      <h1 class="text-dark">Parking Areas</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="ml-auto">
        <button type="button" class="btn btn-success" (click)="showAddForm()">Add</button>
      </div>
      <div class="table-responsive">
        <hr>
        <div class="alert alert-danger" *ngIf="tableData?.length===0">No Existing Parking Areas</div>
        <table id="table" class="table table-striped table-bordered" style="width: 100%;">
          <thead class="text-primary">
            <tr>
              <th>
                ID
              </th>
              <th>
                Area
              </th>
              <th>
                Location
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let area of tableData">
              <td>{{ area.id }}</td>
              <td>{{ area.area }}</td>
              <td>{{ area.location }}</td>
              <td>
                <button class="btn btn-primary btn-sm table-btn" (click)="showEditForm(area)">
                  Edit
                </button>
                <button class="btn btn-danger btn-sm table-btn" (click)="deleteParkingArea(area)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<div class="modal fade" id="area_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="form-head">Add Parking Area</h4>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="area_form">
          <input type="hidden">
          <label for="username" class="col-form-label text-dark">Area</label>
          <div class="form-group">
            <input
              class="form-control"
              [formControlName]="'area'"
              placeholder="Enter Area"
              type="text"
              required
            />
          </div>
          <label for="price" class="col-form-label text-dark">Location</label>
          <div class="form-group">
            <input
              class="form-control"
              [formControlName]="'location'"
              placeholder="Enter Location"
              type="text"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success" (click)="isAdd?onSubmit():editParkingArea()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
