<div class="user_dashboard">
  <div class="container-fluid mt-5">
    <agm-map [zoom]="15" [latitude]="latitude" [longitude]="longitude">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="icon"></agm-marker>
      <agm-marker *ngFor="let row of tableData" [latitude]="row.latitude" [longitude]="row.longitude">
        <agm-info-window>
          <strong><b>Location: </b>{{row.name}}</strong>
          <br>
          <strong><b>Price Per Hour: </b>₹{{row.price_per_hour}}</strong>
          <br>
          <br>
          <button class="btn btn-success btn-sm table-btn" (click)="showReserveForm(row)">Reserve</button>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
<div class="modal fade" id="reserveForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reserve Parking</h5>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="reserveForm" class="form-horizontal">
          <input type="hidden" [formControlName]="'parking_id'" id="parking_id">
          <label class="col-form-label text-dark">Location</label>
          <div class="form-group">
            <input class="form-control" [formControlName]="'name'" id="name" type="text" placeholder="Enter Location" readonly/>
          </div>
          <label class="col-form-label text-dark">Price per Hour</label>
          <div class="form-group">
            <input class="form-control" [formControlName]="'price'" id="price" type="text" placeholder="Enter Price" readonly/>
          </div>
          <label class="col-form-label text-dark">From</label>
          <div class="form-group">
            <input class="form-control" [formControlName]="'fromdatetime'" type="datetime-local" id="fromdatetime" placeholder="Enter From Date"/>
            <mat-error *ngIf="formErrors.fromdatetime"><b>*{{formErrors.fromdatetime}}</b></mat-error>
          </div>
          <label class="col-form-label text-dark">To</label>
          <div class="form-group">
            <input class="form-control" [formControlName]="'todatetime'" id="todatetime" type="datetime-local" placeholder="Enter To Date"/>
          </div>
        </form>
        <div class="alert alert-info cost-info" *ngIf="cost">
          <label type="text" id="total-hours" class="text-dark"
            ><b>Estimated Cost: ₹ {{cost}}</b></label
          >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success" [disabled]="reserveForm.invalid" (click)="initPayment()">Reserve</button>
      </div>
    </div>
  </div>
</div>