<div class="container-fluid">
  <div class="row">
    <div class="alert alert-primary">Parking Locations</div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <input type="text" id="myInput" onkeyup="searchAreas()" placeholder="Search for Areas">
          <div class="alert alert-danger" *ngIf="tableData.length==0">Please Try Again Later</div>
          <div class="table-responsive">
            <table
              #dataTable
              class="table table-striped table-bordered"
              style="width: 100%;"
            >
              <thead class="text-primary">
                <tr>
                  <th>
                    Slot
                  </th>
                  <th>
                    Area
                  </th>
                  <th>
                    Location
                  </th>
                  <th>
                    Cost Per Hour
                  </th>
                  <th>
                    Reserve Now
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableData">
                  <td>{{row.slot}}</td>
                  <td>{{row.area.area | titlecase}}</td>
                  <td>{{row.area.location | titlecase}}</td>
                  <td>{{row.price_per_hour}}</td>
                  <td><a href="/user/reserve/{{row.id}}" class="btn btn-success btn-sm">Reserve</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
