<div class="row">
    <div class="col-lg-6 col-md-6 d-none d-md-block image-container">
    </div>
    <div class="col-lg-6 col-md-6 form-container">
      <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
        <div class="logo mb-3">
          <div class="title">
              MyParking
            </div>
            <h5>Forgot Password</h5>
        </div>
        <form novalidate [formGroup]="forgotPassword" (ngSubmit)="codeSent?showPasswordResetForm():onSubmit()">
          <div class="form-input">
            <span><i class="material-icons">mail</i></span>
              <input [formControlName]="'email'" placeholder="Enter Email" type="text" required>
          </div>
          <div class="form-input verification_code" style="display: none;">
            <span><i class="material-icons">vpn_key</i></span>
              <input [formControlName]="'code'" placeholder="Enter Verification Code" type="text">
          </div>
          <div class="text-center mb-3">
            <button [disabled]="forgotPassword.invalid" type="submit" class="btn btn-success">Submit</button>
          </div>
          <!-- <div style="color:black;">
            <h6>Already Have a Code? <button class="forget-link has_code" (click)="showCodeInput()">Click Here</button></h6>
          </div> -->
          <div style="color:black;">
            <h6>Remember Your Password? <a href="/" class="forget-link">Login Now</a></h6>
          </div>
        </form>
      </div>
    </div>
</div>
<div class="modal fade" id="passwordReset">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reset Password</h5>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="passwordReset" class="form-horizontal">
          <label class="col-form-label text-dark">New Password</label>
          <div class="form-group">
            <input class="form-control" [formControlName]="'password'" id="password" type="password" placeholder="Enter Password"/>
            <mat-error *ngIf="formerrors.password">*{{formerrors.password}}</mat-error>
          </div>
          <label class="col-form-label text-dark">Confirm Password</label>
          <div class="form-group">
            <input class="form-control" [formControlName]="'confirmpassword'" id="confirmpassword" type="password" placeholder="Confirm Password"/>
            <mat-error *ngIf="formerrors.confirmpassword">*{{formerrors.confirmpassword}}</mat-error>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success" [disabled]="passwordReset.invalid" (click)="resetPassword()">Reset Password</button>
      </div>
    </div>
  </div>
</div>