#myInput {
  background-image: url("../img/searchicon.png"); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
}

#table th,
#table td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#table tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#table tr.header,
#table tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
.container-fluid {
  vertical-align: middle;
  margin-top: 3%;
}

.custom {
  width: auto;
}

.full-width {
  width: 100%;
}

body {
  background-color: #eeeeee !important;
}
.ml-auto
{
  float:right;
  margin:10px;
}
.table-btn{
  margin-left:5px;
}

#overlay{
	position: absolute;
	top: 0;
	z-index: 100;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.6);
}
.cv-spinner {
    height: 100%;
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner {
    width: 80px;
	height: 80px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
	100% {
		transform: rotate(360deg);
	}
}
.is-hide{
	display:none;
}
