<div class="row">
  <div class="col-lg-6 col-md-6 d-none d-md-block image-container">
  </div>
  <div class="col-lg-6 col-md-6 form-container">
    <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
      <div class="logo mb-3">
        <div class="title center">
            MyParking
          </div>
          <h5>Login to your Account</h5>
      </div>
      <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
          <span><i class="material-icons">person</i></span>
            <input [formControlName]="'username'" placeholder="Enter Username" type="text" required>
            <label class="error" *ngIf="formErrors.username">*{{formErrors.username}}</label>
        </div>
        <div class="form-input">
          <span><i class="material-icons">lock_open</i></span>
            <input [formControlName]="'password'" placeholder="Enter Password" type="password" required>
            <label class="error" *ngIf="formErrors.password">{{formErrors.password}}</label> 
        </div>
        <div class="text-center mb-3">
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success">Login</button>
        </div>
        <div style="color:black;">
          <h6><a href="#" class="forget-link">Forgot Password?</a></h6>
        </div>
        <div style="color:black;">
          <h6>Dont Have an Account? <a href="/register" class="register-link">Register Now</a></h6>
        </div>
      </form>
    </div>
  </div>
</div>
