.login-btn {
  border-radius: 15px;
  width: 30%;
  margin:10px;
}
.login-btn:hover {
  background: multiply(green);
  color: white;
}
.login-title
{
  color:#fff;
}
.title {
  margin-top: 30px;
  margin-bottom: 30px;
  vertical-align: middle;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  color:black;
  font-size: 56px;
}
.card-header
{
  box-shadow: 2px 0px 3px 4px #ccc;
}
.center {
  line-height: 200px;
  height: 200px;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0a6ebd;
  text-decoration: underline;
}
label {
  color: grey;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.full-width {
  width: 100%;
}
