<header>
    <div class="logo">
      MyParking
    </div>
    <nav>
        <ul>
          <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a routerLink="/admin/parkings/lots" routerLinkActive="active">Manage Parking Lots</a></li>
          <li><a routerLink="/admin/parkings/areas" routerLinkActive="active">Manage Parking Areas</a></li>
          <li><a routerLink="#" routerLinkActive="active">Generate Reports</a></li>
          <li><a href="javascript:void(0);" (click)="logoutUser()">Logout</a></li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
</header>