<div class="container-fluid mt-5">
  <div class="div">
    <button class="btn btn-success" (click)="isAdd?showAddForm():showEditForm(null)">Add Parking Lot</button>
  </div>
  <div class="map-container">
    <agm-map [zoom]="6" [latitude]="20.5937" [longitude]="78.9629">
      <agm-marker *ngFor="let row of tableData" [latitude]="row.latitude" [longitude]="row.longitude">
        <agm-info-window>
          <strong>Location: {{row.name}}</strong>
          <br>
          <strong>Price Per Hour: {{row.price_per_hour}}</strong>
          <br>
          <br>
          <button class="btn btn-primary table-btn" (click)="showEditForm(row)">Edit</button>
          <button class="btn btn-danger table-btn" (click)="deleteParkingLot(row)">Delete</button>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
<div class="modal fade" id="lot-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="form-head">Add Parking Lot</h4>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="lot_form">
          <input class="form-control" [formControlName]="'id'" type="hidden">
            <label for="price" class="col-form-label text-dark" >Name</label>
            <div class="form-group">
                <input class="form-control" [formControlName]="'name'"  placeholder="Enter Location Name" type="text" required>
            </div>
            <label for="price" class="col-form-label text-dark">Price per Hour</label>
            <div class="form-group">
                <input class="form-control" [formControlName]="'price'"  placeholder="Enter Price Per Hour" type="text" required>
            </div>
            <label for="price" class="col-form-label text-dark">Latitude</label>
            <div class="form-group">
                <input class="form-control" [formControlName]="'latitude'"  placeholder="Enter Latitude" type="text" required>
            </div>
            <label for="price" class="col-form-label text-dark">Longitude</label>
            <div class="form-group">
                <input class="form-control" [formControlName]="'longitude'"  placeholder="Enter Longitude" type="text" required>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="isAdd?onSubmit():editParkingLot()">Submit</button>
      </div>
    </div>
  </div>
</div>